[submodule "helios-python-sdk"]
	path = helios-python-sdk
	url = https://github.com/helios-data/helios-python-sdk
[submodule "falcon-protos"]
	path = falcon-protos
	url = https://github.com/UBC-Rocket/falcon-protos
